---
import * as styles from "./index.css";
import type { AstroBuiltinAttributes } from "astro";

export type Props = {
  content: string;
  mountClasses?:  AstroBuiltinAttributes["class:list"];
}

const { content, mountClasses } = Astro.props as Props;
---

<p class:list={[mountClasses, styles.strapline]}>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2500 2500" version="1.1" width="20" height="20">
    <path d="M 1726.500 501.565 C 1689.803 506.552, 1659.219 521.943, 1632.081 549.081 C 1605.477 575.685, 1590.042 606.252, 1584.909 642.500 C 1583.316 653.746, 1583.335 680.887, 1584.942 691.500 C 1589.216 719.723, 1599.115 743.374, 1616.331 766.500 C 1620.198 771.694, 1676.332 828.601, 1776.372 928.742 L 1930.457 1082.985 1038.978 1083.310 C 232.225 1083.604, 146.692 1083.785, 139 1085.212 C 102.363 1092.012, 74.766 1106.397, 49.081 1132.081 C 16.506 1164.657, 0 1204.312, 0 1250 C 0 1295.688, 16.506 1335.343, 49.081 1367.919 C 74.766 1393.603, 102.363 1407.988, 139 1414.788 C 146.692 1416.215, 232.225 1416.396, 1038.978 1416.690 L 1930.457 1417.015 1776.372 1571.258 C 1676.332 1671.399, 1620.198 1728.306, 1616.331 1733.500 C 1599.115 1756.626, 1589.216 1780.277, 1584.942 1808.500 C 1583.335 1819.113, 1583.316 1846.254, 1584.909 1857.500 C 1590.042 1893.748, 1605.477 1924.315, 1632.081 1950.919 C 1664.657 1983.494, 1704.312 2000, 1750 2000 C 1788.090 2000, 1820.192 1989.157, 1851.500 1965.718 C 1862.724 1957.314, 2458.545 1361.442, 2466.665 1350.500 C 2489.621 1319.563, 2500.582 1286.558, 2500.374 1249 C 2500.169 1212.140, 2489.266 1179.958, 2466.665 1149.500 C 2458.545 1138.558, 1862.724 542.686, 1851.500 534.282 C 1831.558 519.352, 1813.658 510.526, 1792.248 505.066 C 1773.288 500.230, 1746.728 498.816, 1726.500 501.565 M 0.397 1250 C 0.397 1257.975, 0.553 1261.237, 0.743 1257.250 C 0.932 1253.263, 0.932 1246.737, 0.743 1242.750 C 0.553 1238.763, 0.397 1242.025, 0.397 1250" stroke="none" fill="#ffffff" fill-rule="evenodd"></path>
  </svg>
  <span set:text={content} />
</p>